{% extends 'base.html' %}




<body>

  {% load static %}

  {% block body %}

<!-- <div class="container "> -->
<div class="row " style="width: 101.1%">
  <br>
  

   <div class="col-sm-12 " style="background-color: #C6CAE5; height: 400%;" >
  <br>
  
  <h5 class="h1-responsive   my-4" style="font-size:28px;text-align: center;">Simplify the information in your work, become <font style="color:#ef6603 ">PREMIUM!</font></h5>

  <br>


   </div>

<!-- </div> -->


</div>



  

 <div class="row mt-5" style="width:101.1%">
  <div class="col-sm-1"></div>

  
           <div class="col-sm-4" style="background-color: white;height:20%;border: 2px solid #ef6603;">
                  

  <h5 class="h1-responsive   my-4" style="font-size:28px;text-align: center;" ><font style="color:#ef6603 ">Premium</font> <font> Account</font></h5>
  <h4 style="font-size:60px;text-align: center;" >0<sup>$</sup></h4>



  
<div class="text-center ">
<br>
         
           <a  class="btn-upload" href="/registration/" style="color: white;background-color:#2F334D ;text-align: center;margin-left: 0%;cursor: pointer;">Get Started</a>



            </div>
<br>
          
                </div>


  <div class="col-sm-1"></div>


                
                <div class="col-sm-6 " style="background-color: #C6CAE5;margin-top:-4.2%">
                  

    <!-- <h5 class="h1-responsive font-weight-bold  my-4">Let us know what you think.</h5> -->
<br>

<form id="forgot-form" name="forgot-form" action="" method="POST" style="padding-left:10%">

<h5 class="h1-responsive   my-4" style="font-size:28px">ADVANTAGES</h5>

<!-- <h6 class="font-awesome h1-responsive   my-4" style="font-size: 12px;">REGISTERED STUDENTS</h6> -->
<hr style="background-color: #fd9042;width: 15%;margin-left: 0%;height: 2px;margin-top:-10px">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8">
                        <div class="md-form mb-0">
                       <br>
                       <br>

    <i class="far fa-check-circle" style="font-size:40px;color: #ef6603;"></i>
    <h5 class="h1-responsive" style="font-size:20px;margin-top:-10%;margin-left: 16%">UP TO 200 000 CHARACTERS
      <br>
      <br>
 <font style="font-size:16px">   Import your texts up to 200 000 characters instead of 40 000, or <font style="color: #ef6603">about 80 000 words.</font> </font></h5>


 <br>
                       <br>

    <i class="far fa-check-circle" style="font-size:40px;color: #ef6603"></i>
    <h5 class="h1-responsive" style="font-size:20px;margin-top:-10%;margin-left: 16%">DOCUMENT IMPORT
      <br>
      <br>
 <font style="font-size:16px"> Finish the copy-paste! Drag your <font style="color: #ef6603">PDF, DOCX and TXT</font> files on the site to save even more time! </font></h5>



 <br>
                       <br>

    <i class="far fa-check-circle" style="font-size:40px;color: #ef6603"></i>
    <h5 class="h1-responsive" style="font-size:20px;margin-top:-10%;margin-left: 16%">
      COPY & PASTE URLs
      <br>
      <br>
 <font style="font-size:16px"> Finish the copy-paste! Paste <font style="color: #ef6603">URLs</font> of your targeted website!</font></h5>



 <br>
                       <br>

    <i class="far fa-check-circle" style="font-size:40px;color: #ef6603"></i>
    <h5 class="h1-responsive" style="font-size:20px;margin-top:-10%;margin-left: 16%">
      EASY AND WITHOUT INSTALLATION
      <br>
      <br>
 <font style="font-size:16px"> Simple to use, you can process all your texts without installing anything on your desktop. </font></h5>

                            
                        </div>
                    </div>
                  
                </div>

              </form>
<br>
    
<div class="text-center ">
<br>
           <a  class="btn-upload" href="/registration/" style="color: white;background-color:#2F334D ;text-align: center;margin-left: 0%;cursor: pointer;">Become Premium</a>
             


            </div>
<br>


                </div>
                
            </div>


 
            {% endblock %}           

</body>

