{% extends 'base.html' %}


<body>


    {% block body %}
   
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Services</h2>
        <p>What we do offer</p>
      </div>

      <div class="row" style="cursor: pointer;">
        <div class="col-lg-4 col-md-6 ">
          <div class="icon-box" data-aos="zoom-in-left">
            <div class="icon"><i class="fas fa-user-graduate" style="color: #1F618D;"></i></div>
            <h4 class="title"><a>STUDENTS</a></h4>
            <p class="description">With ATP, summarize your Wikipedia pages in a matter of seconds for your
              productivity.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
            <div class="icon"><i class="fas fa-user-tie" style="color: #C0392B;"></i></div>
            <h4 class="title"><a>PROFESSORS</a></h4>
            <p class="description"> Identify the most important ideas and arguments of your texts so that you can
              prepare your lessons.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
            <div class="icon"><i class="fas fa-book" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a> LIBRARIES</a></h4>
            <p class="description">Need to summarize your books' presentations ? Identify the arguments in a matter of
              seconds.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
            <div class="icon"><i class="fas fa-book-reader" style="color:#8E44AD;"></i></div>
            <h4 class="title"><a>READERS</a></h4>
            <p class="description">Save time, summarize your digital documents for a relevant and fast uptake of
              information.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
            <div class="icon"><i class="fas fa-feather-alt" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a> WRITERS</a></h4>
            <p class="description">Need to summarize your chapters ? With ATP, go to the heart of your ideas.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
            <div class="icon"><i class="fas fa-upload" style="color: #4680ff;"></i></div>
            <h4 class="title"><a>PUBLISHERS</a></h4>
            <p class="description">Identify your books' or your authors' ideas quickly. Summarize the most important
              main points.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  {% endblock %}
</body>