{% extends 'base.html' %}

<body>
    
    {% load static %}

    {% block body %}

    <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Team</h2>
        <p>Our Hardworking Team</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'assets/images/haseeb.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Abdul Haseeb</h4>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/images/basit.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Abdul Basit</h4>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/images/fahad.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Fahad Munir</h4>

            </div>
          </div>
        </div>



      </div>

    </div>
  </section><!-- End Team Section -->

  {% endblock %}

  
  

</body>